.listOfCars {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 41px;
  row-gap: 48px;
  align-items: center;
  justify-content: center;
  padding: 56px 0px 80px 0px;
}

.oneCard {
  width: 276px;
  height: 424px;
  border-radius: 14px;
  position: relative;
}
