.boxForm {
  box-sizing: border-box;
  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 32px;
  width: 640px;
  height: 488px;
  background-color: #fff;
  margin-top: 40px;
  overflow: hidden;
}

.formTitle {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  margin-bottom: 8px;
}

.formParagraph {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #8d929a;
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input {
  box-sizing: border-box;
  border-radius: 12px;
  border: none;
  padding: 12px 20px;
  width: 576px;
  height: 48px;
  background-color: #f7f7f7;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #8d929a;

  &::placeholder {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #8d929a;
  }
}

.inputDate {
  box-sizing: border-box;
  border-radius: 12px;
  border: none;
  padding: 12px 20px;
  width: 576px;
  height: 48px;
  background-color: #f7f7f7;

  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #8d929a;
  text-align: left;
}

.lableCalendar {
}

.textarea {
  resize: none;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 12px 20px 56px 20px;
  width: 576px;
  height: 88px;
  background-color: #f7f7f7;
  border: none;
  margin-bottom: 8px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #8d929a;

  &::placeholder {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #8d929a;
  }
}

.button {
  box-sizing: border-box;
  border: none;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 12px;
  padding: 12px 51px;
  width: 156px;
  height: 44px;
  background-color: #3470ff;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;

  &:hover {
    background-color: #0b44cd;
    transition: background-color 400ms linear;
  }
}

.errorName {
  position: absolute;
  top: 827px;
  left: 217px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #8d929a;
}

.errorEmail {
  position: absolute;
  top: 888px;
  left: 215px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #8d929a;
}
