.navHeder {
  /* width: 1440px; */
  display: flex;
  flex-direction: row;
  gap: 32px;
}

a {
  font-family: "Manrope", sans-serif;
  color: #101828;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
}

.active {
  /* text-decoration: underline; */
  /* color: black; */
  color: #0b44cd;
}
